@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-gray: rgb(31, 41, 55);
  --primary-blue: rgb(29 155 240);
}

.primary-blue{
  background-color: var(--primary-blue);
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section{
  width: 600px;
  min-height: 100vh;
  margin-inline: 18px;
  border-left: 1px solid rgb(58, 66, 73);
  border-right: 1px solid rgb(58, 66, 73);
}

.luffy{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.ace{
  display: unset;
}