@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gray: rgb(31, 41, 55);
  --primary-blue: rgb(29 155 240);
  --primary-gray: #3a4249;
  --primary-light-gray: #434c54;
  --primary-dark-gray: #181818;
}

.primary-blue {
  background-color: var(--primary-blue);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section {
  width: 600px;
  min-height: 100vh;
  margin-inline: 18px;
  border-left: 1px solid rgb(58, 66, 73);
  border-right: 1px solid rgb(58, 66, 73);
}

.luffy {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.ace {
  display: unset;
}

.main_heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: white;
}

.gray_text {
  font-size: 1rem;
  color: #e0e0e0;
}


.marquee {
  width: 300px; /* Adjust width as needed */
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: scroll 10s linear infinite;
}

.marquee-content span {
  white-space: nowrap;
  display: inline-block;
  padding-right: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



/* -----------scrollbar---------- */

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #242424; /* Dark background of the scrollbar track */
  border-radius: 2px; /* Roundness of the track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #4b5563, #9ca3af); /* Gradient color of the scrollbar thumb */
  border-radius: 5px; /* Roundness of the thumb */
  border: 2px solid #2d2d2d; /* Space around the thumb, matching track color */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #6b7280, #d1d5db); /* Lighter color when hovered */
}